            .Flip1{
				background-color:white;
			} 
			.Flip2{
				background-color:yellow;
				padding:5px 25px 10px 30px;
			}
			.Flip3{
				background-color:blue;
				padding:5px 25px 10px 30px;
				margin-left:20px;
			}
			.Flip4{
				margin-left:600px;
			}
			.Flip5{
				background-color:white;
				margin-top:25px;
				padding:5px 10px 5px 5px
			}
			.Flip6{
				border:1px solid blue;
				width:70%;
				padding:5px 50% 5px 5px
			}
			.Flip7{
				padding-left:30px;
			}	
			.Flip8{
				padding:11px 11px 11px 22px;
			}	
			.Flip9{
				padding-left:80px;
			}
			.Flip10{
				padding:5px 40px 3px 28px;
			}
			.Flip11{
				padding:10px 40px 3px 50px;
			}
			.Flip12{
				padding:10px 40px 3px 70px;
			}
			.Flip13{
				width:300px;  
				margin-top:30px;
				float:left;
				margin-left:10px;
			}
			.Flip14{
				padding:20px 20px 0px 20px;
				width:200px;
				height:200px;
			}
			.Flip15{
				padding-left:10px;
			}
			.Flip16{
				width:100%;
				height:1500px;
			}
			.Flip17{
				color:grey;
				font-size:25px;
			}
			.Flip18{
				color:grey;
			}
			.Flip19{
				width:96%;
				height:300px;
				background-color:black;
			}
			.Flip20{
				margin:30%;
			}
			.Flip21{
				margin-top:3%;
			}
			.Flip22{
				background-color:grey;
				padding-top:10px;
				
			}
			.Flip23{
				padding-left:20px;
				font-size:20px;
				color:white;
			}
			.Flip24{
				height:15%;
				width:15%;
			}
			.Flip25{
				background-color:blue;
				margin-top:5%;
			}
			.Flip26{
				height:50%;
				width:30%;
			}
			.Flip27{
				font-size:20px;
			}
			.Flip28{
				padding-bottom:10px;
			}
			.Flip29{
				background-color:grey;
				padding-top:10px;
				margin-top:30px;"
			}
			.Flip30{
				padding-left:20px;
				font-size:20px;
				color:white;
			}
			.Flip31{
				padding-bottom:10px;
			}
			.Flip32{
				font-size:30px;
			}
			.Flip33{
				width:100%;
			}
			.Flip35{
				padding-left:50px;
			}
			.Flip36{
				padding-left:220px;
			}
			.Flip37{
				padding-left:290px;
			}
			.Flip38{
				padding-left:140px;
			}
			.Flip39{
				padding-left:210px;
			}
			.Flip40{
				padding-left:230px;
			}
			.Flip41{
				padding-left:160px;
			}
			.Flip42{
				padding-left:270px;
			}
			.Flip43{
				padding-left:240px;
			}
			.Flip44{
				padding-left:150px;
			}
			.Flip45{
				padding-left:210px;
			}
			.Flip46{
				padding-left:215px;
			}
			.Flip47{
				padding:2%;
			}
			.Flip48{
				margin:5px;
			}
			.Flip49{
				float:left
			}
			.Flip50{
				color:blue;
			}
			.Flip51{
				color:grey;
				margin-top:20px;
				font-size:20px;
			}
			.Flip52{
				height:160px; 
				width:130px; 
				margin:1%; 
				float:left;
				color:grey;
			}
			.Flip53{
				color:white;
				font-size:13px;
			}
			.Flip54{
				font-size:20px;
				color:white;
			}
			.Flip55{
				padding-left:10px;
				font-size:20px;
				color:white;
			}
			.Flip56{
				color:blue;
			}
			.Flip57{
				height:150px;
				width:100%;
				margin-top:80px;
				float:left;
				color:white;
				padding-left:30px;
			}
			.Flip58{
				color:grey;
				margin-top:30px;
				font-size:20px;
			}
			.Flip59{
				height:160px; 
				width:180px; 
				margin:1%; 
				float:left;
				color:grey;
				margin-right:10px;
			}
			.Flip60{
				height:160px; 
				width:200px; 
				margin:1%; 
				float:left;
				color:grey;
				margin-right:20px;
			}
			.Flip61{
				color:white;
				font-size:11px;
			}
			.Flip62{
				height:160px; 
				width:230px; 
				margin:1%; 
				float:left;
				color:grey;
			}
			.Flip63{
				padding-left:20px;
			}
			.Flip64{
				padding-left:190px;
			}
			.Flip65{
				padding-left:285px;
			}
			.Flip66{
				padding-left:195px;
			}
			.Flip67{
				padding-left:180px;
			}
			.Flip68{
				padding-left:255px;
			}
			.Flip69{
				padding-left:250px;
			}
			.Flip70{
				height:21%;
				width:21%;
			}
			.Flip71{
				height:18%;
				width:18%;
			}
			.Flip72{
				height:17%;
				width:17%;
			}
			.Flip73{
				height:19%;
				width:19%;
			}
			.Flip74{
				height:12%;
				width:12%;
			}
			.Flip75{
				height:16%;
				width:16%;
			}
			.Flip76{
				height:6%;
				width:6%;
			}
			.Flip77{
				height:15%;
				width:15%;
			}
			.Flip78{
				width:300px;  
				margin-top:30px;
				float:left;
				margin-left:20px;
			}
			